.body {
  margin: 100px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: #f9f8fb;
}
.header__top {
  display: flex;
  justify-content: space-around;
}
.header li {
  display: inline-flex;
  justify-content: space-between;
  margin: 15px;
}
.header__btm {
  display: flex;
  justify-content: space-around;
  margin: 100px;
}
.header__box {
  width: 400px;
  margin-top: 20px;
}
.header button {
  background-color: coral;
}
.header__scroll {
  width: 30px;
  height: 40px;
  margin-left: 550px;
}
.header h1 {
  font-size: 30px;
  padding-bottom: 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  background-color: darkcyan;
}
.about--img2 {
  width: 350px;
}
.about h1 {
  font-size: 30px;
  margin-bottom: 50px;
}
.about--cnt {
  margin: 100px;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 100px;
  box-sizing: border-box;
  text-align: justify;
}

.service {
  display: flex;
  justify-content: space-around;
  background-color: #77a3f5;
}
.service--nav {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  flex-wrap: wrap;
}
.service--img {
  width: 300px;
}
.service h1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: white;
}

.gallery {
  background-color: rgba(255, 255, 0, 0.877);
}
.gallery__top {
  display: inline-block;
  justify-content: space-between;
  align-content: center;
}
.gallery--up {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
}
.gallery--img {
  width: 800px;
  padding: 10px;
}
.gallery--imgs {
  margin: 20px;
  justify-content: space-between;
}
.gallery__image {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
}
.gallery--btn {
  display: flex;
  background-color: steelblue;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
  flex-wrap: wrap;
}
.subscribe h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.subscribe p {
  width: 500px;
}
.subscribe--content {
  margin: 20px;
}
.subscribe--img {
  max-width: 850px;
}
.subscribe button {
  background-color: #64a875;
}

.blog {
  background-color: #a186d6;
}
.blog--top {
  margin: 50px;
  display: block;
  justify-content: center;
  align-items: center;
  width: 350px;
}
.blog h1 {
  font-size: 30px;
}
.blog--up {
  display: flex;
  justify-content: space-between;
}
.blog button {
  display: flex;
  justify-content: center;
  background-color: #ee4264;
}

.footer {
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  max-width: 80%;
}
.footer h1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 50px;
}
.footer--inp {
  background-color: cyan;
}
.footer--top {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.footer--input {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.footer--box {
  display: flex;
  justify-content: space-evenly;
  justify-content: flex-start;
}
.footer button {
  background-color: skyblue;
  width: 70px;
  margin: 20px;
}
.footer--btm {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
}
.footer--m {
  color: red;
}